<h1>Editing Department</h1>

<%= render 'form', department: @department %>

<%= link_to 'Departamentos', @department, class:"btn btn-default" %>
<%= link_to 'Voltar', departments_path, class:"btn btn-default" %>
